* {
    box-sizing: border-box;
  } 
  /* style the container */
  .container {
    position: absolute;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
    width: 50%;
    height: 50%;
    top:25%;
    left: 25%;
  } 
  /* style inputs and link buttons */
  input,
  .btn {
    width: 75%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  /* style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    
  }
  /* Two-column layout */
  .col1 {
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
    position: absolute;
  }
  .col{
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
    position: absolute;
    left: 50%;
  }
  .row{
      position: absolute;
      top: 75%;
      left: 25%;
      height: 50%;
      width: 50%;
  }