.main {

   position: absolute;
   width: 100%;
}
table{
position: absolute;
width:80%;

}
table,td{
    text-align: center;
    
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}